/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


body
{
    font-family: Arial;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    padding: 40px;

    text-align: center;

    color: #fff;
    background: #000;
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}



.logo
{
    font-size: 40px;
    font-weight: 700;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 40px;

    text-transform: uppercase;
}


.connection_status
{
    width: 100%;
    margin-bottom: 20px;

    text-align: center;
}


.connection_status span
{
    position: relative;

    display: none;

    padding-left: 15px;

    vertical-align: top;
}


.connection_status span:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 5px;
    height: 5px;
    margin: auto 0;

    content: '';

    border-radius: 50%;
}


.connection_status span.green:before
{
    background: green;
}

.connection_status span.red:before
{
    background: red;
}


.connection_status span.show
{
    display: inline-block;
}


.tx_result
{
    width: 100%;
    margin-bottom: 20px;

    text-align: center;
}

.tx_result:empty
{
    display: none;
}


#address
{
    width: 100%;
    margin-bottom: 20px;

    text-align: center;
}

#address:empty
{
    display: none;
}


.btn
{
    font-size: 18px;
    font-weight: 500;

    display: block;

    width: 240px;
    height: 56px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: currentColor;
    border-radius: 10px;
    background: linear-gradient(to bottom,  #6be3fd 0%,#002749 100%);
}


.btn.send_btn
{
    display: none;
}
